@import "@fontsource/source-serif-pro/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold;
  }
}

:root {
  --brand-primary: #a8a29e;
  --brand-secondary: #be123c;
  --brand-accent: #005a9c;
  --text-light: #f5f5f4;
  --text-medium: #78716c;
  --text-dark: #44403c;
  --brand-secondaryDark: #E11D48;
}
