---
import { Image } from "astro:assets";
import logo from "../assets/stag-logo.svg";
---

<div class="flex justify-center items-center">
  <a href="/">
    <Image src={logo} alt="logo" class="w-auto h-16 md:h-32 sm:h-24 block" />
  </a>
</div>
