<div
  id="sideNav"
  class="hidden md:block md:col-span-1 p-4 transition-transform duration-300 ease-in-out"
>
  <nav>
    <ul class="text-center md:text-left text-xl">
      <li>
        <a href="/" class="block py-2 text-text-dark hover:text-brand-primary"
          >Link 1</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="block py-2 text-text-dark hover:text-brand-primary">Link 2</a
        >
      </li>
      <li>
        <a href="#" class="block py-2 text-text-dark hover:text-brand-primary"
          >Link 3</a>
      </li>
    </ul>
  </nav>
</div>
