---
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
const { pageTitle } = Astro.props;
import Nav from "../components/Nav.astro";

// Check if the current page is the homepage
const isHomepage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class="bg-white">
    <!-- Eyebrow for homepage -->
    {
      isHomepage && (
        <div class="bg-violet-700 text-yellow-200 font-bold md:text-2xl tracking-wider text-center py-2">
          We are open YEAR-ROUND for Fishing Trips!
        </div>
      )
    }

    <div class="max-w-7xl mx-auto">
      <div class="flex flex-col min-h-screen">
        <!-- Main Content -->
        <main class="flex-grow p-4">
          <Header />

          <!-- Mobile Menu Button -->
          <div class="md:hidden p-4">
            <button
              id="menuToggle"
              class="bg-brand-primary hover:bg-brand-secondary text-white py-2 px-4 rounded-md focus:outline-none flex items-center justify-center ml-auto"
              aria-expanded="false"
              aria-controls="sideNav"
            >
              <span id="menuText" class="flex items-center gap-2"
                >Menu<Icon name="menu" /></span
              >
            </button>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div>
              <Nav />
            </div>

            <!-- Main Content -->
            <div class="col-span-1 md:col-span-3 bg-green-400">
              <slot />
            </div>
          </div>
        </main>
      </div>
    </div>
    <Footer />
    <script>
      const menuToggle = document.getElementById("menuToggle");
      const sideNav = document.getElementById("sideNav");
      const menuText = document.getElementById("menuText");

      // Function to toggle the menu visibility
      const toggleMenu = () => {
        const isHidden = sideNav.classList.contains("hidden");
        sideNav.classList.toggle("hidden", !isHidden);
        sideNav.classList.toggle("block", isHidden);
        menuToggle.setAttribute("aria-expanded", isHidden.toString());

        // Update menu button text and icon dynamically
        menuText.innerHTML = isHidden
          ? `Menu <img src="/src/icons/close.svg" alt="close" class="inline-block w-4 h-4"/>`
          : `Menu <img src="/src/icons/menu.svg" alt="menu" class="inline-block w-4 h-4"/>`;
      };

      // Event listener for the menu toggle button
      menuToggle.addEventListener("click", (event) => {
        event.stopPropagation(); // Prevent event from bubbling to document
        toggleMenu();
      });

      // Event listener for clicking outside the menu to close it
      document.addEventListener("click", (event) => {
        const isMenuOpen = !sideNav.classList.contains("hidden");
        if (
          isMenuOpen &&
          !sideNav.contains(event.target) &&
          event.target !== menuToggle
        ) {
          toggleMenu();
        }
      });
    </script>
    <script src="/src/scripts/fslightbox.js"></script>
  </body>
</html>
